{% load static %}
<html>
<head>
<title>Django Blog</title>
<link rel="stylesheet" href={%static "css/base.css"%}>
</head>
<body>
<header><h1><a href="{% url 'home' %}"></a>Django Board</h1>
<a class="right" href={% url 'post_new' %}>+New Post</a>
</header>
{% if user.is_authenticated %}
<p>Hi {{ user.username }}</p>
<p><a href={% url 'logout' %}>Log out</a></p>
{% else %}
<p>You are not login</p>
<a href={% url 'login' %}>Login</a>
{% endif %}
<div>
{% block content %}

{% endblock content %}
</div>
</body>
</html>